/* 2015-03-31 <intval@163.com> */

/* public 1 */
#gw-pb-top{max-width:1200px;min-width:1002px;height:28px;line-height:28px;margin:0 auto;text-align:right;}
#gw-pb-top a{font-size:14px;margin-left:20px;margin-right:5px;color:#666;}
#gw-pb-top a.z-on{color:#ff7026;}
#gw-pb-top a:hover{color:#69f;}

#gw-pb-nav{max-width:1200px;min-width:1002px;height:60px;line-height:60px;margin:0 auto;text-align:right;position:relative;background:#ff7119 url(../image/gw.bg17.png) no-repeat;}
#gw-pb-nav a.logo{display:block;position:absolute;top:-20px;left:5px;}
#gw-pb-nav a.logo img{width:72px;}
#gw-pb-nav a.nav{font-size:16px;color:#888;line-height:60px;margin-left:40px;margin-right:5px;}
#gw-pb-nav a.nav:hover{color:#69f;}

#gw-pb-nav1{width: 100%;background-color:#ff6200;}
#gw-pb-nav1 div{position:relative;max-width:1200px;min-width:1002px;height:50px;margin:0 auto;text-align:right;}
#gw-pb-nav1 a.logo{display:block;position:absolute;top:0;left:0;width: 145px;height:39px;padding-top: 10px; background-color: #fff; text-align: center;}
#gw-pb-nav1 a.logo img{width:126px;}
#gw-pb-nav1 a.nav{font-size:16px;color:#fff;line-height:48px;margin-left:40px;margin-right:5px;}
#gw-pb-nav1 a.on{background:url(../image/gw.v2.dot.png) no-repeat 15px 38px;}
#gw-pb-nav1 a.nav1{background-position: -88px 38px;}
#gw-pb-nav1 a.nav2{background-position: -162px 38px;}
#gw-pb-nav1 a.nav3{background-position: -238px 38px;}
#gw-pb-nav1 a.nav:hover{color:#000;}

#gw-pb-ft{width: 100%; border-top:1px solid #e7eaf2;}
#gw-pb-foot{max-width:1200px;min-width:1002px;margin:0 auto;padding:30px 0;}
#gw-pb-foot h6{float:left;width:155px;border-right:1px solid #fff;padding-left:5px;}
#gw-pb-foot h6 img{width:120px;}
#gw-pb-foot h3{float:left;width:140px;padding-left:30px;padding-top:10px;}

#gw-pb-foot div{float:right;width:500px;text-align:right;padding-right:35px;font-size:14px;color:#999;}
#gw-pb-foot div h4 a{color:#999;margin-left:15px;}
#gw-pb-foot div h4 a:hover{color:#69f;}
#gw-pb-foot div p{padding-top:5px;line-height:20px;}
#gw-pb-foot div p a{color: #999;}
#gw-pb-foot div p a:hover{color: #69f;}
#gw-pb-foot div dl{width:340px;padding-top:0;}
#gw-pb-foot div dl dt{padding-top:5px;position:relative;}
#gw-pb-foot div dl dt a img{width:42px;margin-left:10px;}
#gw-pb-foot div dl dt span{position:absolute;top:-140px;left:-170px;z-index:101;background-color:#ec691e;padding:8px 20px;}
#gw-pb-foot div dl dt span i{width:16px;height:16px;background:url(../image/gw.ic12.png) no-repeat;margin-bottom:8px;cursor:pointer;}
#gw-pb-foot div dl dt span img{display:block;padding:8px;width:120px;background-color:#fff;}
#gw-pb-foot div dl dt span em{display:block;text-align:center;font-size:14px;color:#fff;line-height:25px;}
#gw-pb-foot div dl dd{line-height:25px;}
#gw-pb-foot div dl dd b{font-size:16px;}
#gw-pb-foot h5{float:right;width:102px;padding-right:5px;}
#gw-pb-foot h5 img{width:102px;}

#gw-fixed{position:fixed;bottom:0;left:0;width:100%;height:120px;z-index:99;display:none;}
#gw-fixed div{width:100%;height:120px;position:relative;z-index:100;}
#gw-fixed div em,#gw-fixed div p{position:absolute;bottom:0;left:0;width:100%;z-index:101;height:120px;text-align:center;}
#gw-fixed div em{display:block;background-color:rgba(0,0,0,.3);background-color:#000\9;filter:alpha(opacity=30)\9;}
#gw-fixed div p{z-index:102;font-size:18px;color:#fff;}
#gw-fixed div p span{line-height:120px;}
#gw-fixed div p a{padding:8px 20px;background-color:#ff7f66;color:#fff;border-radius:.35em;margin-left:15px;vertical-align:middle;}
#gw-fixed div .z-close{position:absolute;top:10px;right:10px;height:25px;width:25px;z-index:103;font-size:20px;color:#fff;text-align:center;background:url(../image/gw.bg07.gif) no-repeat;}
#gw-fixed div .z-close:hover{color:#000;}

.gw-tt{max-width:1200px;min-width:1002px;margin:20px auto;height:34px;line-height:34px;background:url(../image/gw.bg01.gif) repeat-x 0 33px;}
.gw-tt span{display:block;padding-left:10px;font-size:18px;color:#fff;height:34px;}
.gw-tt .z-pg .z-lft,.gw-tt .z-pg .z-rgt{width:15px;height:15px;vertical-align:middle;margin-top:2px;}
.gw-tt .z-pg .z-lft{background:url(../image/zbg05.gif) no-repeat;}
.gw-tt .z-pg .z-rgt{margin-left:5px;background:url(../image/zbg06.gif) no-repeat;}
.gw-tt .z-pg .z-ctr{margin-left:5px;vertical-align:middle;line-height:15px;}
.gw-tt .z-pg .z-ctr i{color:#ec6941;}
.gw-tt span.z-t1{background:#ff7f61 url(../image/gw.bg08.gif) no-repeat 100% 0;width:125px;}
.gw-tt span.z-t2{background:#d15db7 url(../image/gw.bg09.gif) no-repeat 100% 0;width:125px;}
.gw-tt span.z-t3{background:#e8b735 url(../image/gw.bg03.gif) no-repeat 100% 0;width:145px;}
.gw-tt span.z-t4{background:#ff7f61 url(../image/gw.bg08.gif) no-repeat 100% 0;width:185px;}
.gw-tt span.z-t5{background:#ffaa97 url(../image/gw.bg10.gif) no-repeat 100% 0;width:105px;}
.gw-tt span.z-t6{background:#ffaa97 url(../image/gw.bg10.gif) no-repeat 100% 0;width:145px;}

.gw-stp{text-align:center;padding-top:35px;}
.gw-stp img{width:788px;}
.gw-stp p{width:1000px;text-align:center;margin:0 auto;}
.gw-stp p span{width:242px;padding-top:15px;font-size:14px;color:#999;}
.gw-stp p span.on{color:#ffaa97;}

/* gw-p5 */
#gw-p5-bnr{max-width: 1200px;min-width: 1002px;margin:0 auto;}
#gw-p5-bnr img{display: block;margin: 0 auto;width: 100%;}

#gw-p5-txt{max-width: 1200px;min-width: 1002px;margin:0 auto;}
#gw-p5-txt p{font-size: 14px;color: #000; line-height: 28px;padding: 30px 0 40px;}
#gw-p5-txt p b{font-size:16px;font-weight: 400;color: #ff6200;}
#gw-p5-txt p a{background: url(../image/gw.v1.i06.png) no-repeat 0 50%;padding-left:15px;cursor: pointer;color: #000;}
#gw-p5-txt p a:hover{color: #69f;}
#gw-p5-txt div{top:60px;right:0;width: 316px;}
#gw-p5-txt div img{padding: 14px;background-color:#fff;}
#gw-p5-txt div a{width:50px;height:64px;font-size:24px;line-height:32px;padding:17px 24px; text-align: center;color: #fff;margin-left:14px;}
#gw-p5-txt div a.rec{background-color:#ff7f61;margin-bottom:8px;}
#gw-p5-txt div a.aly{background-color:#8fc31f;}

#gw-p5-fm{max-width: 1200px;min-width:1002px;margin:0 auto;padding-bottom: 20px;}
#gw-p5-fm h4{font-size:30px;text-align:center;margin:0 100px;padding:40px;background:url(../image/gw.bg20.png) no-repeat 50% 0;color:#555;}
#gw-p5-fm ul{width: 544px;margin: 0 auto;}
#gw-p5-fm ul li{float: left;width: 270px; height: 65px;}
#gw-p5-fm ul li input{width:230px;height: 18px;line-height: 18px;padding: 8px; font-size: 13px;color: #999;border:1px solid #d4d7df;}
#gw-p5-fm ul li span{display: block;color: #f34a4a;line-height: 18px;padding-left: 2px;}
#gw-p5-fm ul li.z-sp{width: 540px;height: 136px;}
#gw-p5-fm ul li.z-sp textarea{width:500px;line-height:20px;font-size:13px;color:#999;height:120px;padding:8px;resize:none;border:1px solid #d4d7df;}
#gw-p5-fm h5{text-align:center;padding:30px;}
#gw-p5-fm h5 button{width: 280px;height:44px;text-align:center;background-color:#e86335;color:#fff;font-size:15px;cursor: pointer;}

#gw-p5-mask{position:fixed;left:0;top:0;width:100%;height:100%;background-color:#000;z-index:100;}

.gw-p5-map{position:fixed;left:0;top:0;width:100%;height:100%;z-index:101;display:none;text-align: center;vertical-align:middle;}
.gw-p5-map dl{padding: 10px; background-color: #fff;position: relative;}
.gw-p5-map dl dt{text-align: right;position: absolute;top: 15px;right: 15px;;}
.gw-p5-map dl dt a{width:16px;height:16px;background:url(../image/gw.ic12.png) no-repeat;}

/* gw-p6 */
#gw-p6{max-width:1200px;min-width:1002px;margin:auto;margin-bottom: 50px;}
#gw-p6 h4 img{width: 100%;}
#gw-p6 h1{font-size: 28px;color: #494949;padding: 55px 0;}
#gw-p6 h1 b{font-weight: 400;color: #ff6200;}
#gw-p6 p{font-size: 17px;color: #666;line-height: 25px;padding-bottom: 25px;text-indent: 2em;}
#gw-p6 dl{font-size: 17px;}
#gw-p6 dl dt{color: #ff6200;line-height: 30px;}
#gw-p6 dl dd{color: #666;padding-bottom: 15px;}

/* im */
#gw-p6-im{width:36px;height:102px;position:fixed;left:5%;top:150px;background:url('../image/gw.bg14.png') no-repeat -1px 0;z-index:19;}
#gw-p6-im a{display:block;width:31px;height:31px;}
#gw-p6-im span{position:absolute;top:0;left:40px;background-color:#ec691e;padding:8px;text-align:right;z-index:19;}
#gw-p6-im span i{width:16px;height:16px;background:url('../image/gw.ic12.png') no-repeat;margin-bottom:8px;cursor:pointer;}
#gw-p6-im span img{display:block;padding:8px;width:120px;background-color:#fff;}
#gw-p6-im span em{display:block;text-align:center;font-size:14px;color:#fff;line-height:25px;}

/* gw-p2 */
#gw-p2{width:625px;height:290px;margin:85px auto;border:1px solid #e1e1e1;box-shadow:#e1e1e1 10px 10px 10px;}
#gw-p2 h2{font-size:18px;color:#666;text-align:center;padding:25px 0 20px;}
#gw-p2 h4{text-align:center;line-height:20px;padding-bottom:10px;color:#e86335;font-size:13px;}
#gw-p2 ul li{height:48px;font-size:14px;color:#666;}
#gw-p2 ul li label{width:175px;text-align:right;margin-right:15px;}
#gw-p2 ul li input{height:18px;width:240px;padding:7px;border:1px solid #d4d7df;line-height:18px;font-size:14px;color:#666;}
#gw-p2 ul li span{font-family:SimSun;color:#e86335;font-size:12px;padding-left:8px;}
#gw-p2 h3{padding-top:25px;text-align:center;}
#gw-p2 h3 a{line-height:40px;width:280px;color:#fff;text-align:center;font-size:14px;background-color:#e86335;}

/* gw-p2-1 */
#gw-p2-1{max-width:1200px;min-width:1002px;margin:55px auto 110px;}
#gw-p2-1 h3{height:32px;font-size:15px;color:#333;padding-left:16px;}
#gw-p2-1 ol{height:35px;line-height:35px;color:#fff;background-color:#ffb5a0;font-size:14px;}
#gw-p2-1 ol li{float:left;text-align:center;}
#gw-p2-1 ol li.t1{width:51.5%;}
#gw-p2-1 ol li.t2{width:29%;}
#gw-p2-1 ol li.t3{width:17%;}
#gw-p2-1 ul{padding:20px 10px 0;border:1px solid #d4d4d4;border-top:none;}
#gw-p2-1 ul li{float:left;line-height:65px;font-size:14px;}
#gw-p2-1 ul li.l1{width:10.5%;text-align:center;}
#gw-p2-1 ul li.l1 img{width:65px;}
#gw-p2-1 ul li.l2{width:40%;}
#gw-p2-1 ul li.l2 a{color:#666;}
#gw-p2-1 ul li.l2 a:hover{color:#69f;}
#gw-p2-1 ul li.l3{width:30%;text-align:center;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;color:#ff5300;}
#gw-p2-1 ul li.l4{width:18.5%;text-align:center;}
#gw-p2-1 ul li.l4 a{height:42px;line-height:42px;width:98px;border:1px solid #fdd784;background-color:#fffaed;color:#e86335;}
#gw-p2-1 ul li.l4 a.z-on{background-color:#e86335;border-color:#e86335;color:#fff;}
#gw-p2-1 h4{text-align:center;padding-top:60px;}
#gw-p2-1 h4 a{line-height:40px;width:280px;color:#fff;text-align:center;font-size:14px;background-color:#e86335;}
#gw-p2-1 p{font-size:13px;line-height:25px;color:#666;padding:15px 15px 0;}

/* gw-p2-2 */
#gw-p2-2{max-width:1200px;min-width:1002px;margin:55px auto 110px;}
#gw-p2-2 dl{margin-bottom:20px;background-color:#f1f1f1;padding:15px 0}
#gw-p2-2 dl dt{font-size:15px;color:#666;height:30px;padding-left:22px;font-weight:700;}
#gw-p2-2 dl dd{font-size:14px;color:#999;height:36px;}
#gw-p2-2 dl dd label{width:80px;text-align:right;margin-right:15px;}
#gw-p2-2 dl dd.h-at{height: auto;}
#gw-p2-2 dl dd.h-at label{vertical-align: top;}
#gw-p2-2 dl dd.h-at i{padding-bottom:10px;}
#gw-p2-2 dl dd input{height:18px;padding:4px 7px;border:1px solid #d4d7df;line-height:18px;font-size:14px;color:#999;}
#gw-p2-2 dl dd input.w1{width:180px;}
#gw-p2-2 dl dd input.w2{width:500px;}
#gw-p2-2 dl dd input.w3{width:80px;}
#gw-p2-2 dl dd span{font-family:SimSun;color:#e86335;font-size:12px;padding-left:8px;}
#gw-p2-2 h3{height:32px;font-size:15px;color:#333;padding-left:16px;margin-top:50px;}
#gw-p2-2 ol{height:35px;line-height:35px;color:#fff;background-color:#ffb5a0;font-size:14px;}
#gw-p2-2 ol li{float:left;text-align:center;}
#gw-p2-2 ol li.t1{width:62%;}
#gw-p2-2 ol li.t2{width:36%;}
#gw-p2-2 ul{padding:20px 10px 0;border:1px solid #d4d4d4;border-top:none;}
#gw-p2-2 ul li{float:left;line-height:65px;font-size:14px;}
#gw-p2-2 ul li.l1{width:10.5%;text-align:center;}
#gw-p2-2 ul li.l1 img{width:65px;}
#gw-p2-2 ul li.l2{width:52%;}
#gw-p2-2 ul li.l2 a{color:#666;}
#gw-p2-2 ul li.l2 a:hover{color:#69f;}
#gw-p2-2 ul li.l3{width:36%;text-align:center;border-left:1px solid #d4d4d4;color:#ff5300;}
#gw-p2-2 h4{text-align:center;padding-top:60px;}
#gw-p2-2 h4 a{line-height:40px;width:140px;color:#fff;text-align:center;font-size:14px;background-color:#e86335;margin:0 20px;}

/* gw-p2-3 */
#gw-p2-3{max-width:1200px;min-width:1002px;margin:55px auto;padding:40px 0;background-color:#f1f1f1;text-align:center;}
#gw-p2-3 h4{background:url(../image/gw.v1.b2.gif) no-repeat 0 50%;line-height:36px;height:36px;font-size:22px;color:#ff7f61;padding-left:50px;margin-bottom:15px;}
#gw-p2-3 h5{background:url(../image/gw.v1.b1.gif) no-repeat 0 50%;line-height:27px;height:27px;font-size:14px;color:#666;padding-left:35px;margin-bottom:15px;}
#gw-p2-3 h5.z-nb{background:none;padding-left:0;}
#gw-p2-3 a{background:url(../image/gw.bg13.gif) no-repeat 100% 50%;line-height:30px;height:30px;font-size:13px;color:#ff7f61;padding-right:10px;text-decoration:underline;}

/* gw-p2-4 */
#gw-p2-4{max-width:1200px;min-width:1002px;margin:55px auto 110px;}
#gw-p2-4 h2{font-size:20px;color:#ec6941;height:40px;padding-left:16px;}
#gw-p2-4 dl{margin-bottom:30px;padding-left:16px;}
#gw-p2-4 dl dt{font-size:15px;font-weight:700;color:#333;height:20px;line-height:20px;}
#gw-p2-4 dl dt i{width:20px;height:20px;background:url(../image/gw.v1.b4.gif) no-repeat;margin-right:8px;color:#fff;text-align:center;font-weight:400;font-size:13px;}
#gw-p2-4 dl dd{font-size:14px;color:#666;line-height:25px;padding-left:27px;}

#gw-p2-4 h3{height:32px;font-size:15px;color:#333;padding-left:16px;margin-top:50px;}
#gw-p2-4 ol{height:35px;line-height:35px;color:#fff;background-color:#ffb5a0;font-size:14px;}
#gw-p2-4 ol li{float:left;text-align:center;}
#gw-p2-4 ol li.t1{width:62%;}
#gw-p2-4 ol li.t2{width:36%;}
#gw-p2-4 ul{padding:20px 10px 0;border:1px solid #d4d4d4;border-top:none;}
#gw-p2-4 ul li{float:left;line-height:65px;font-size:14px;}
#gw-p2-4 ul li.l1{width:10.5%;text-align:center;}
#gw-p2-4 ul li.l1 img{width:65px;}
#gw-p2-4 ul li.l2{width:52%;}
#gw-p2-4 ul li.l2 a{color:#666;}
#gw-p2-4 ul li.l2 a:hover{color:#69f;}
#gw-p2-4 ul li.l3{width:36%;text-align:center;border-left:1px solid #d4d4d4;color:#ff5300;}

/* gw-p2-5 */
#gw-p2-5{text-align:center;padding:50px 0;}
#gw-p2-5 h5{padding:30px 0;}
#gw-p2-5 h5 a{line-height:40px;width:280px;color:#fff;text-align:center;font-size:14px;background-color:#e86335;}

/* gw-p8 */
#gw-p8{max-width:1200px;min-width:1002px;margin:0 auto;height:487px;padding-top:125px;background:url(../image/gw.v1.b5.jpg) no-repeat 50% 0;}
#gw-p8 div.fm{width:625px;height:340px;margin:0 auto;background-color:#fff;}
#gw-p8 h2{font-size:18px;color:#666;text-align:center;padding:25px 0 30px;}
#gw-p8 ul li{height:65px;font-size:14px;color:#666;}
#gw-p8 ul li label{width:175px;text-align:right;margin-right:15px;}
#gw-p8 ul li input{height:18px;width:240px;padding:7px;border:1px solid #d4d7df;line-height:18px;font-size:14px;color:#666;}
#gw-p8 ul li span{font-family:SimSun;color:#e86335;font-size:12px;padding-left:8px;}
#gw-p8 h3{padding-top:25px;text-align:center;}
#gw-p8 h3 a{line-height:40px;width:280px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;}
#gw-p8 h6{padding-left:390px;}
#gw-p8 h6 a{font-size:12px;color:#ec6941;}
#gw-p8 h6 a:hover{color:#69f;}

/* gw-p8-6 */
#gw-p8-6{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-6 p{text-align:center;color:#f34a4a;font-size:14px;padding:0 0 50px;}
#gw-p8-6 h4{text-align:center;padding:20px 0;}
#gw-p8-6 h4 a{line-height:40px;width:280px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;}
#gw-p8-6 dl{margin-bottom:20px;background-color:#f5f5f5;padding:15px 0}
#gw-p8-6 dl dt{font-size:15px;color:#666;height:30px;padding-left:22px;font-weight:700;}
#gw-p8-6 dl dd{font-size:14px;color:#999;padding-bottom:22px;}
#gw-p8-6 dl dd label{width:120px;text-align:right;margin-right:15px;}
#gw-p8-6 dl dd label.vt{vertical-align:top;}
#gw-p8-6 dl dd input.txt{height:18px;padding:4px 7px;border:1px solid #d4d7df;line-height:18px;font-size:14px;color:#999;}
#gw-p8-6 dl dd input.w1{width:180px;}
#gw-p8-6 dl dd input.w2{width:500px;}
#gw-p8-6 dl dd input.w3{width:80px;}
#gw-p8-6 dl dd span{font-family:SimSun;color:#e86335;font-size:12px;padding-left:8px;}
#gw-p8-6 dl dd textarea{width:500px;padding:4px 7px;border:1px solid #d4d7df;line-height:20px;font-size:14px;color:#999;height:100px;}

/* gw-p8-6-1 */
#gw-p8-6-1{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-6-1 p{text-align:center;color:#f34a4a;font-size:14px;padding:0 0 50px;}
#gw-p8-6-1 h4{text-align:center;padding:20px 0;}
#gw-p8-6-1 h4 a{line-height:38px;width:180px;color:#e86335;text-align:center;font-size:15px;background-color:#fffaed;border:1px solid #fdd784;}
#gw-p8-6-1 h4 a.sure{background-color:#e86335;border-color:#e86335;color:#fff;margin-left:30px;}
#gw-p8-6-1 dl{margin-bottom:20px;background-color:#f5f5f5;padding:15px 0;color:#666;line-height:18px;}
#gw-p8-6-1 dl dt{font-size:15px;color:#393939;height:40px;padding-left:22px;font-weight:700;}
#gw-p8-6-1 dl dd{font-size:14px;height:45px;}
#gw-p8-6-1 dl dd label{width:120px;text-align:right;margin-right:15px;}
#gw-p8-6-1 dl dd span.c1{color:#e86335;font-size:16px;}

/* gw-p8-7 */
#gw-p8-7{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-7 p{color:#666;height:16px;background:url(../image/gw.v1.b6.png) no-repeat 0 -31px;padding-left:25px;margin:25px 28px;font-size:14px;}
#gw-p8-7 p a{color:#fe845a;font-size:12px;}
#gw-p8-7 p a:hover{color:#69f;}
#gw-p8-7 h4{padding:0 0 20px 28px;}
#gw-p8-7 h4 a{line-height:38px;width:160px;color:#e86335;text-align:center;font-size:15px;background-color:#fffaed;border:1px solid #fdd784;}
#gw-p8-7 h4 a.sure{background-color:#e86335;border-color:#e86335;color:#fff;margin-left:30px;}
.gw-p8-7-tt{font-size:15px;font-weight:700;color:#666;height:20px;line-height:20px;margin-top:30px;}
.gw-p8-7-tt i{width:20px;height:20px;background:url(../image/gw.v1.b4.gif) no-repeat;margin-right:8px;color:#fff;text-align:center;font-weight:400;font-size:13px;}
.gw-p8-7-tt a{color:#fe845a;font-size:12px;font-weight:400;}
.gw-p8-7-tt a:hover{color:#69f;}

/* gw-p8-7-1 */
#gw-p8-7-1 p{padding-top:70px;text-align:center;}
#gw-p8-7-1 h4{text-align:center;padding:40px;}
#gw-p8-7-1 h4 a{line-height:40px;width:160px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;}

/* gw-p8-7-2 */
#gw-p8-7-2{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-7-2 p{color:#666;height:16px;background:url(../image/gw.v1.b6.png) no-repeat 0 -31px;padding-left:25px;margin:25px 28px;font-size:14px;}
#gw-p8-7-2 p a{color:#fe845a;font-size:12px;}
#gw-p8-7-2 p a:hover{color:#69f;}
#gw-p8-7-2 h3{float:left;margin:28px;font-size:14px;color:#666;}
#gw-p8-7-2 h3 label{line-height:28px;padding-right:8px;}
#gw-p8-7-2 dl{font-size:14px;color:#666;padding:28px;}
#gw-p8-7-2 dl dt{font-size:15px;color:#333;height:30px;}
#gw-p8-7-2 dl dd .m-rdo{margin-bottom:10px;}
#gw-p8-7-2 h2{padding:0 0 20px 28px;}
#gw-p8-7-2 h2 a{line-height:38px;width:160px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;border:1px solid #e86335;}

/* gw-p8-8 */
#gw-p8-8{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-8 p{color:#666;height:16px;background:url(../image/gw.v1.b6.png) no-repeat 0 -31px;padding-left:25px;margin:25px 28px;font-size:14px;}
#gw-p8-8 p a{color:#fe845a;font-size:12px;}
#gw-p8-8 p a:hover{color:#69f;}
#gw-p8-8 div{width:630px;border:1px solid #c7c7c7;border-bottom:none;margin:28px;position:relative;}
#gw-p8-8 div h3{width:100%;height:38px;}
#gw-p8-8 div h3 a{width:38px;height:38px;background:url(../image/gw.v1.b7.png) no-repeat 14px 10px;}
#gw-p8-8 div h3 a.rgt{background-position:14px -23px;}
#gw-p8-8 div h3 a.no{cursor:not-allowed;}
#gw-p8-8 div h3 a.ok{cursor:pointer;}
#gw-p8-8 div h3 span{width:554px;text-align:center;line-height:38px;font-size:14px;color:#333;}
#gw-p8-8 div li{float:left;}
#gw-p8-8 div ol li{width:90px;height:30px;line-height:30px;background-color:#c7c7c7;color:#fff;text-align:center;font-size:14px;}
#gw-p8-8 div ol li.on{background-color:#fd6845;}
#gw-p8-8 div ul li{padding:10px 8px 0 13px;width:68px;height:38px;font-size:14px;border-right:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;cursor:not-allowed;}
#gw-p8-8 div ul li i{display:block;text-align:right;font-size:12px;padding-top:4px;}
#gw-p8-8 div ul li.off{color:#999;}
#gw-p8-8 div ul li.on{color:#69f;cursor:pointer;}
#gw-p8-8 div ul li.no{color:#333;}
#gw-p8-8 div ul li.no i{color:#999;}
#gw-p8-8 div ul li.all{color:#fd6845;}
#gw-p8-8 div ul li.at{color:#008000;background-color:#ffcfc3;font-weight:700;}
#gw-p8-8 div dl{position:absolute;right:-210px;top:0;width:200px;}
#gw-p8-8 div dl dt{font-size:18px;font-weight:700;padding-bottom:15px;}
#gw-p8-8 div dl dd{font-size:15px;line-height:28px;}
#gw-p8-8 h2{padding:0 0 20px 28px;}
#gw-p8-8 h2 a{line-height:38px;width:160px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;border:1px solid #e86335;}

/* gw-p8-9 */
#gw-p8-9{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-9 .rdo{color:#666;height:16px;background:url(../image/gw.v1.b6.png) no-repeat 0 -31px;padding-left:25px;margin:25px 28px;font-size:14px;}
#gw-p8-9 .rdo a{color:#fe845a;font-size:12px;}
#gw-p8-9 .rdo a:hover{color:#69f;}
#gw-p8-9 .times{color:#666;height:16px;font-size:14px;padding-left:2px;margin:25px 28px;}
#gw-p8-9 h4{padding:10px 25px;font-size:14px;color:#666;}
#gw-p8-9 h4 input{width:15px;height:15px;vertical-align:middle;}
#gw-p8-9 dl{margin:0 0 10px 25px;text-align:center;border:3px solid #cfcfcf;color:#666;margin-bottom:30px;}
#gw-p8-9 dl dt{height:35px;line-height:35px;background-color:#ea6b4a;font-size:15px;color:#fff;}
#gw-p8-9 dl dd{text-align:left;line-height:25px;font-size:14px;padding:5px 15px;}
#gw-p8-9 dl dd.abtn{text-align:center;padding:15px 0 25px;}
#gw-p8-9 dl dd.abtn a{line-height:32px;width:120px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;margin:0 10px;border:1px solid #e86335;}
#gw-p8-9 dl dd.abtn a.refuse{background-color:#f0f0f0;color:#333;border:1px solid #b7b7b7;}
#gw-p8-9 dl dd.tbl {text-align:center;padding-bottom:30px;}
#gw-p8-9 dl dd table{width:60%;margin:auto;}
#gw-p8-9 dl dd.tbl input{height:18px;width:95%;padding:4px 7px;border:1px solid #d4d7df;line-height:18px;font-size:14px;color:#999;}
#gw-p8-9 dl dd.tbl td{text-align:left;width:70%;}
#gw-p8-9 dl dd.tbl th{text-align:right;width:20%;}
#gw-p8-9 dl dd.tbl th,#gw-p8-9 dl dd.tbl td{padding:5px 10px;}
#gw-p8-9 h2{text-align:center;}
#gw-p8-9 h2 a{line-height:38px;width:160px;color:#fff;text-align:center;font-size:15px;background-color:#ea6a47;}

/* gw-p8-10 */
#gw-p8-10{max-width:800px;min-width:702px;margin:55px auto;}
#gw-p8-10 h3{color:#f54848;font-size:14px;text-align:center;}
#gw-p8-10 h4{color:#666;font-size:14px;padding:15px 0 0 28px;}
#gw-p8-10 div{color:#666;font-size:14px;line-height:30px;padding:15px 0 0 28px;}
#gw-p8-10 div label{width:100px;text-align:right;padding-right:10px;}
#gw-p8-10 div span{width:650px;}
#gw-p8-10 h4 i{padding-right:25px;}
#gw-p8-10 p{color:#666;height:16px;background:url(../image/gw.v1.b6.png) no-repeat 0 -31px;padding-left:25px;margin:15px 28px;font-size:14px;}
#gw-p8-10 .times{color:#666;line-height:16px;font-size:14px;padding-left:2px;margin:25px 28px;}
#gw-p8-10 .types{color:#666;line-height:16px;font-size:14px;padding-left:2px;margin:10px 0 0 28px;}
#gw-p8-10 .types dt{padding-bottom:12px;}
#gw-p8-10 .types dd{color:#999;}
#gw-p8-10 h6{text-align:center;padding-top:50px;}
#gw-p8-10 h6 a{line-height:38px;width:160px;color:#e86335;text-align:center;font-size:15px;background-color:#fffaed;border:1px solid #fdd784;}
#gw-p8-10 h6 a.sure{background-color:#e86335;border-color:#e86335;color:#fff;margin-right:30px;}

/* gw-p8-11 */
#gw-p8-11{max-width:1200px;min-width:1002px;margin:55px auto;padding:40px 0;background-color:#f1f1f1;text-align:center;}
#gw-p8-11 h4{background:url(../image/gw.v1.b2.gif) no-repeat 0 50%;line-height:36px;height:36px;font-size:22px;color:#ff7f61;padding-left:50px;}
#gw-p8-11 h5{font-size:14px;text-align:left;color:#666;line-height:25px;padding-left:105px;width:230px;margin:10px auto;}
#gw-p8-11 h5 span{color:#ff7f61;padding-top:20px;}
#gw-p8-11 h6{text-align:center;padding-top:30px;}
#gw-p8-11 h6 a{line-height:40px;width:160px;color:#fff;text-align:center;font-size:15px;background-color:#e86335;}

/* gw-p8-2 */
.gw-p8-2-p{color:#666;line-height:30px;max-width:1200px;min-width:1002px;margin:0 auto;}
.gw-p8-2-p dt{padding:20px 0 0 40px;font-size:16px;}
.gw-p8-2-p dd{padding-left:60px;font-size:14px;}
.gw-p8-2-p dd i{color:#f00;}
.gw-p8-2-t{color:#666;font-size:14px;line-height:30px;max-width:1200px;min-width:1002px;margin:0 auto;}
.gw-p8-2-m{color:#555;font-size:14px;line-height:30px;max-width:1160px;min-width:962px;margin:0 auto;padding:20px 0 10px 40px;}
.gw-p8-2-t label{width:140px;text-align:right;padding-right:10px;}
.gw-p8-2-c{font-size:14px;color:#666;max-width:1200px;min-width:1002px;margin:0 auto;}
.gw-p8-2-c dt{padding-left:40px;font-size:15px;color:#333;height:30px}
.gw-p8-2-c dd{padding-left:40px;padding-right:40px;line-height:22px;padding-bottom:10px;}
.gw-p8-2-b{max-width:1200px;min-width:1002px;margin:20px auto 100px;text-align:center;}

/* radio */
.m-rdo{height:18px;background:url(../image/gw.v1.b6.png) no-repeat 0 1px;padding-left:25px;margin-right:15px;cursor:pointer;}
.rdo-on{background-position:0 -30px;}

/* select */
.m-slt{position:relative;font-weight:400;}
.m-slt .slt{padding:4px 28px 4px 12px;font-size:13px;background:url('../image/zico25.gif') no-repeat 95% 50%;cursor:pointer;*margin-right:4px;}
.m-slt small{position:absolute;left:0;background-color:#fff;max-height:75px;overflow:hidden;overflow-y:auto;display:none;z-index:10;}
.m-slt small a{padding-left:12px;background-color:#fff;font-size:13px;line-height:25px;color:#666;}
.m-slt small a:hover{background-color:#1e90ff;color:#fff;}
.slt-w1 .slt{width:120px;height:18px;line-height:18px;border:1px solid #d4d7df;color:#666;}
.slt-w1 small{width:160px;top:27px;border:1px solid #d4d7df;}
.slt-w1 small a{width:160px;}

.slt-w2 .slt{width:70px;height:18px;line-height:18px;border:1px solid #d4d7df;color:#666;}
.slt-w2 small{width:110px;top:27px;border:1px solid #d4d7df;max-height:150px;}
.slt-w2 small a{width:110px;}

/* tianma css */
#gw-tm-p1{max-width:1200px;min-width:1002px;margin:0 auto;position: relative;}
#gw-tm-p1 .bg-img{display: block;width: 100%;}
#gw-tm-p1 .fm{width:380px;height:290px;position:absolute;top:20%;left:60px;z-index: 2;background:url(../image/gwp8_01.png);color:#fff;}
#gw-tm-p1 dt{font-size: 21px;text-align: center;padding: 25px 0 10px;}
#gw-tm-p1 dd{float: left;}
#gw-tm-p1 i{color: #e86335;font-size: 12px;line-height: 36px;font-family:arial;}
#gw-tm-p1 .note{width: 280px;height: 30px;color:#e86335;font-size: 13px;width: 250px;text-align: center;padding-left:90px;padding-top: 15px;}
#gw-tm-p1 .txt{width: 115px;text-align: right;font-size: 14px;line-height: 36px;}
#gw-tm-p1 .ipt{width: 205px;padding-bottom: 15px;}
#gw-tm-p1 .ipt input{width: 185px;border:1px solid #c6c9cf;height:18px;line-height:18px;padding:8px 5px;}
#gw-tm-p1 .msg{width: 60px;line-height: 36px;color: #e86335;font-size: 13px;}
#gw-tm-p1 .btn{width: 250px;text-align: center;padding-left:115px;padding-top: 15px;}
#gw-tm-p1 .btn a{display: block;width:195px;height:42px;line-height: 42px;background-color: #e86335;font-size: 15px;color: #fff;vertical-align: middle;}






