/* 
	New plus css for new page.
	2015.06.25 @ Tony.zeng
*/

/* public - foot */
#gy-ftb{width:100%;border-top:1px solid #e7eaf2;background-color:#fff;}
#gy-ft{margin:0 auto;padding:30px 0;}
#gy-ft h6{float:left;width:155px;padding-left:5px;}
#gy-ft h6 img{width:120px;}
#gy-ft h3{float:left;width:140px;padding-left:30px;padding-top:10px;}

#gy-ft div{float:right;width:500px;text-align:right;padding-right:35px;font-size:14px;color:#999;}
#gy-ft div h4 a{color:#999;margin-left:15px;}
#gy-ft div h4 a:hover{color:#69f;}
#gy-ft div p{line-height:25px;padding-bottom:5px;}
#gy-ft div p a{color:#999;}
#gy-ft div p a:hover{color:#69f;}
#gy-ft div dl{width:340px;padding-top:0px;}
#gy-ft div dl dt{padding-top:5px;position:relative;}
#gy-ft div dl dt a img{width:42px;margin-left:10px;}
#gy-ft div dl dt span{position:absolute;top:-140px;left:-170px;z-index:101;background-color:#ec691e;padding:8px 20px;}
#gy-ft div dl dt span i{width:16px;height:16px;background:url(../image/gy.ic12.png) no-repeat;margin-bottom:8px;cursor:pointer;}
#gy-ft div dl dt span img{display:block;padding:8px;width:120px;background-color:#fff;}
#gy-ft div dl dt span em{display:block;text-align:center;font-size:14px;color:#fff;line-height:25px;}
#gy-ft div dl dd{line-height:25px;}
#gy-ft div dl dd b{font-size:16px;}
#gy-ft h5{float:right;width:102px;padding-right:5px;}
#gy-ft h5 img{width:102px;}

/* pop up */
.pop-221 p{padding:100px 0 40px;background:url(../image/n1.bg13.png) no-repeat 50% 20px;font-size: 15px;line-height: 25px;color: #3d3d3d;}

/* layout */
.f-lyt{max-width: 1200px;min-width: 1002px;margin:auto;}

/* login */
#g-login{background-color: #fff;}
#g-login .logo{padding: 34px 0 18px;}
#g-login .logo a.fst img{width: 65px;vertical-align: middle;margin-left: 5px;}
#g-login .logo i{width: 40px;border-right: 1px solid #e0e0e0;height: 38px;vertical-align: middle;margin-right: 36px;}
#g-login .logo a.lst img{height:50px;vertical-align: middle;}
#g-login .logo b{font:25px SimHei;color:#fd6b0d;padding-left:44px;vertical-align: middle;}
#g-login .bg{position: relative;}
#g-login .bg img{width: 100%;}
#g-login .bg1 img{border-top:1px solid #cbccc6;border-bottom:1px solid #cbccc6;}
#g-login .bg2 img{border-top:1px solid #a9c1cd;border-bottom:1px solid #a9c1cd;}
#g-login .lgn{position:absolute;top:20%;right:60px;width: 340px;height: 290px;border:1px solid #b0c6de;border-top-width:2px;background-color: #fff;border-radius:.15em;}
#g-login .lgn1{background-color:rgba(255,255,255, .5);border-color: #9db5e4;}
#g-login .lgn2{border-color: #43a6ea;right: 429px;}
#g-login .lgn h3{font-size: 17px;color: #142434;text-align: center;padding-top: 18px;}
#g-login .lgn h4{font-size: 12px;color: #f00;text-align: center;height:32px;line-height:32px;}
#g-login .lgn dl{border:1px solid #ccc;border-radius: 5px;width:75%;margin: 0 auto;background-color: #fff;}
#g-login .lgn dl dt, #g-login .lgn dl dd{height: 46px;padding-left: 56px;}
#g-login .lgn dl dt{background:url(../image/n1.02.png) no-repeat 18px 50%;border-bottom: 1px solid #ccc;}
#g-login .lgn dl dd{background:url(../image/n1.03.png) no-repeat 19px 50%;}
#g-login .lgn dl input{font-size: 13px;color: #999;line-height: 18px;height: 18px;padding:14px 0;width: 170px;*padding:12px 0;}
#g-login .lgn h5{height: 20px;width:75%;margin: 0 auto;padding: 17px 0;}
#g-login .lgn h5 i{font-size:12px;color: #666;background:url(../image/n1.bg02.png) no-repeat 0 -26px;width:60px;padding-left:20px;height:14px;line-height:14px;cursor:pointer;}
#g-login .lgn h5 i.on{background-position:0 0;}
#g-login .lgn h5 em{text-align: right;width: 175px}
#g-login .lgn h5 em a{color: #009fe0;}
#g-login .lgn h5 em a.a1{color: #ff6200;}
#g-login .lgn h5 em a:hover{text-decoration: underline;}
#g-login .lgn h6{width:75%;margin: 0 auto;}
#g-login .lgn h6 button{background-color: #01a0e1;border-radius: .25em;width:100%;height: 35px;line-height: 35px;text-align: center;color: #fff;font-size: 15px;cursor: pointer;}
#g-login .lgn h6 button.a1{background-color: #7298e2;}

/* model title */
#m-tit{height: 70px;border-bottom:2px solid #ccc;margin:0 30px;}
#m-tit2{height: 70px;border-bottom:2px solid #ccc;}
#m-tit span,#m-tit2 span{border-bottom: 2px solid #fe6b0c;font-size: 22px;color: #3e3e3e;padding:8px;height:24px;margin-top:30px;}

#m-tt1{font-size: 18px;color: #000;padding:8px;height:24px;}

/* u-alert */
#mask-alert{position:fixed;left:0;top:0;width:100%;height:100%;background-color:#000;z-index:1000;}
.m-alert{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1001;}
.m-alert .z-ib{display:inline-block;*display:inline;*zoom:1;background-color:#fff;border:5px solid #aaa;}/*IE7*/
.m-alert .u-tit{height:36px;line-height:36px;font-size:15px;color:#333;background-color:#efefef;text-align:left;padding-left:12px;border-bottom: 0;}
.m-alert .u-close{position:relative;*zoom:1;height: 1px;line-height: 1px;}
.m-alert .u-close a{display: block;position: absolute;right:8px;top:-32px;font:700 24px Arial;color: #666;}
.m-alert .u-close a:hover{color: #36f;}
.m-alert .u-btn{padding-bottom: 40px;}
.m-alert .u-btn a{display:inline-block;*display:inline;*zoom:1;border:1px solid #fff;padding:0 65px;font-size:14px;line-height:35px;border-radius: .25em;}
.m-alert .u-btn a.u-sub{border-color: #e97657;background-color: #fd6b0d;color: #fff;border:1px solid #e63d0c;}
.m-alert .u-cnt{padding:100px 0 40px;background:url(../image/n1.bg13.png) no-repeat 50% 20px;font-size: 15px;line-height: 25px;color: #3d3d3d;}

/* model step */
#m-step{padding: 50px;text-align: center;}
#m-step p{font-size:15px;line-height: 37px;height: 37px;background:url(../image/n1.bg07.png) repeat-x 0 15px;padding-right:55px;}
#m-step span{height:37px;background:#f0f0f0 url(../image/n1.bg06.png) no-repeat;padding-right: 15px;color: #7f7f7f;margin-left:45px;}
#m-step span.on{background-image: url(../image/n1.bg05.png);color: #333;}
#m-step span b{text-align: center;width: 37px;padding-right:10px;}
#m-step span.on b{color: #fe6b0e;}

/* p9-1-1 */
#p9-1-1{background-color: #fff;margin: 20px auto;}
#p9-1-1 dl{font-size: 16px;padding: 26px 0;border-bottom: 1px solid #e6e6e6;margin:0 30px;}
#p9-1-1 dl dt{width: 60%;float: left;color: #262626;}
#p9-1-1 dl dd{width: 30%;float: right;text-align: right;line-height: 25px;color: #666;}
#p9-1-1 dl dd b{color: #fe2222;font-size: 20px;font-weight: 400;}
#p9-1-1 ul{padding-top: 30px;margin:0 30px;}
#p9-1-1 ul li{border:3px solid #ff9474;height: 54px;position: relative;line-height: 45px;padding-left: 25px;}
#p9-1-1 ul li input{width: 15px;height: 15px;vertical-align: middle;}
#p9-1-1 ul li img{vertical-align: middle;margin-left: 20px;}
#p9-1-1 ul li span{position: absolute;right: 0;padding-right: 10px;font-size: 16px;color: #666;}
#p9-1-1 ul li span b{color: #fe2222;font-size: 20px;font-weight: 400;}
#p9-1-1 h6{padding: 90px 0 45px;text-align: center;}
#p9-1-1 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-1-1 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}
#p9-1-1 p{text-align: center;color: #a6a6a6;font-size: 14px;padding-bottom: 30px;}

/* p9-1-2 */
#p9-1-2{background-color: #fff;margin: 20px auto;}
#p9-1-2 dl{background:url(../image/n1.03.jpg) no-repeat 0 0;padding-left: 80px;padding-top: 10px;margin: 0 auto;width:20%;margin-top: 50px;}
#p9-1-2 dl dt{font-size: 22px;color: #3d3d3d;padding-bottom: 20px;}
#p9-1-2 dl dd{font-size: 16px;color: #666;}
#p9-1-2 h6{padding: 90px 0 45px;text-align: center;}
#p9-1-2 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-1-2 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}

/* p9-1 */
#p9-1{background-color: #fff;margin: 20px auto;}
#p9-1 .main{padding:30px;}
#p9-1 .info{position: relative;}
#p9-1 .info img{border:1px solid #ccc;}
#p9-1 .info dl{position: absolute;right: 0;top:0;width: 63%;}
#p9-1 .info dl dt{font-size: 24px;color: #ed5629;height: 45px;line-height: 45px;}
#p9-1 .info dl dd.desc{line-height: 22px;font-size: 13px;color: #333;padding-top: 15px;}
#p9-1 .info dl dd.btn{padding-top: 50px;}
#p9-1 .info a.go{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-1 .info a.back{text-decoration: underline;color: #3367cd;font-size: 13px;margin-left: 20px;}
#p9-1 .excel{padding-top: 30px;}
#p9-1 table{border-bottom:1px solid #ddd;border-left:1px solid #ddd;width:100%;}
#p9-1 table td{padding:10px;border-top:1px solid #ddd;border-right:1px solid #ddd;font-size:13px;color:#666;line-height: 20px;}
#p9-1 table td.td0{width:18%;text-align:center;font-size:15px;}
#p9-1 table td.td1{width:40%;text-align:center;}
#p9-1 table td.td2{width:10%;text-align:center;}
#p9-1 table td.td3{width:10%;text-align:center;}
#p9-1 table td.td4{width:10%;text-align:center;}
#p9-1 table td.td5{text-align:center;}
#p9-1 table td.td5 a{background-color: #e97a53;text-align: center;padding:0 10px;color:#fff;line-height: 25px;border-radius:.25em;}
#p9-1 table thead td{background-color:#efefef;font-weight:700;text-align:center;}
#p9-1 table td.tde{border-top:1px solid #fff;}
#p9-1 .excel h5{text-align: right;}
#p9-1 .excel h5 a{border:1px solid #ddd;border-top:0;width:95px;height:30px;line-height:30px;background:#e6e6e6 url(../image/n1.bg03.png) no-repeat 95px 7px;padding-right:30px;text-align: center;color: #333;}
#p9-1 .excel h5 a.down{background-position: 95px -26px;}
#p9-1 .other{padding:20px 0;font-size: 14px;line-height: 25px;color: #666;}
#p9-1 .other span{font-size: 16px;color: #333;}
#p9-1 .other p{color: #666;line-height:20px;}
#p9-1 .btm{text-align: right;padding-top: 30px;border-top:1px solid #e6e6e6;}
#p9-1 .btm a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-1 .btm span{line-height: 52px;background:url(../image/n1.bg04.png) no-repeat;padding-left: 60px;font-size: 13px;color: #666;margin-right: 20px;}

/* p9-2 */
#p9-2 .fm{background-color: #fff;margin-bottom: 20px;padding:30px;}
#p9-2 .fm .tt{font-size: 16px;border-bottom: 1px solid #e6e6e6;padding: 8px 0;}
#p9-2 .fm .nt{color: #666;font-size: 14px;padding:25px;text-align: center;}
#p9-2 .fm .tbe1{width: 600px;margin: 0 auto;}
#p9-2 .fm .tbe1 th, #p9-2 .fm .tbe1 td{padding: 10px 5px;font-size: 14px;}
#p9-2 .fm .tbe1 th{width: 120px;text-align: right;line-height: 36px;}
#p9-2 .fm .tbe1 .txt{border:1px solid #ccc;line-height: 18px;height: 18px;padding:8px;width:300px;border-radius: .25em;font-size: 14px;color: #666;}
#p9-2 .fm .tbe1 th i{color: #f00;font-family: Arial;}
#p9-2 .fm .tbe1 td.u-sex a{border:1px solid #ccc;border-radius: .25em;vertical-align: middle;background:url(../image/n1.bg09.png) no-repeat;color: #333;}
#p9-2 .fm .tbe1 td a.sex1{line-height:36px;height:36px;padding-left:34px;padding-right:8px;background-position:-37px -35px;}
#p9-2 .fm .tbe1 td a.sex2{line-height:36px;height:36px;padding-left:34px;padding-right:8px;background-position:-37px -101px;}
#p9-2 .fm .tbe1 td a.sex3{padding:3px 0;height: 30px;padding-left:34px;padding-right:8px;background-position:-37px -168px;}
#p9-2 .fm .tbe1 td a.sex4{padding:3px 0;height: 30px;padding-left:34px;padding-right:8px;background-position:-37px -235px;}
#p9-2 .fm .tbe1 td.u-sex a small{font-size: 12px;}
#p9-2 .fm .tbe1 td a.on{background-image:url(../image/n1.bg08.png);color: #fc6b10;border-color: #fc6b10;}
#p9-2 .fm .report a{color: #f91512;text-decoration: underline;font-size: 13px;}
#p9-2 .fm .report p{padding-top:8px;}
#p9-2 .fm .report p em{padding-left: 30px;height: 17px;background:url(../image/n1.bg10.png) no-repeat;cursor: pointer;margin-right: 20px;}
#p9-2 .fm .report p em.on{background-position: 0 -33px;}
#p9-2 .fm .rep-addr{background-color:#f2f2f2;border:1px solid #d9d9d9;width:600px;margin:0 auto;padding-bottom:20px;margin-top:10px;display:none;position:relative;}
#p9-2 .fm .rep-addr u{position: absolute;top:-14px;left: 41%;}
#p9-2 .fm .tbe2 th, #p9-2 .fm .tbe2 td{padding: 10px 5px;font-size: 14px;}
#p9-2 .fm .tbe2 th{width: 120px;text-align: right;line-height: 36px;}
#p9-2 .fm .tbe2 .txt{border:1px solid #ccc;line-height: 18px;height: 18px;padding:8px;width:300px;border-radius: .25em;font-size: 14px;color: #666;}
#p9-2 .fm .tbe2 th i{color: #f00;font-family: Arial;}
#p9-2 .fm .tbe2 .rdo{width: 15px;height: 15px;vertical-align: middle;}
#p9-2 .fm h6{text-align: center;padding: 30px 0 20px;}
#p9-2 .fm h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
.pop-protocol{background-color: #fff;width:900px;}
.pop-protocol p{font-size: 14px;line-height:30px;padding: 0 30px 20px 30px;text-align: left;color: #333;}
.pop-protocol p.lst{color: #666;}
.pop-protocol p span{padding: 0 30px;border-bottom: 1px solid #333;line-height: 25px;}
.pop-protocol h4{padding: 50px 0 30px;font-size: 20px;}
.pop-protocol h6{padding: 30px 0 50px;}
.pop-protocol h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;line-height:38px;text-align:center;color:#fff;font-size:18px;padding:0 80px;}
.slt-wn1 .slt{width:276px;height:24px;line-height:24px;border:1px solid #ccc;color:#666;border-radius: .25em;font-size: 14px;}
.slt-wn1 small{width:316px;top:30px;border:1px solid #d4d7df;max-height:150px;border-radius: 0 0 .25em .25em;}
.slt-wn1 small a{width:314px;text-align: left;font-size: 14px;line-height: 35px;}
.slt-wn2 .slt{width:56px;height:24px;line-height:24px;border:1px solid #ccc;color:#666;border-radius: .25em;font-size: 14px;}
.slt-wn2 small{width:96px;top:30px;border:1px solid #d4d7df;max-height:150px;border-radius: 0 0 .25em .25em;}
.slt-wn2 small a{width:94px;text-align: left;font-size: 14px;line-height: 35px;}
.slt-wn3 .slt{width:66px;height:24px;line-height:24px;border:1px solid #ccc;color:#666;border-radius: .25em;font-size: 14px;}
.slt-wn3 small{width:106px;top:30px;border:1px solid #d4d7df;max-height:150px;border-radius: 0 0 .25em .25em;}
.slt-wn3 small a{width:104px;text-align: left;font-size: 14px;line-height: 35px;}

/* p9-3 */
#p9-3{margin-bottom: 20px;}
#p9-3 .cnt{background-color: #fff;padding: 30px;}
#p9-3 .cnt h4{border-bottom:2px solid #e6e6e6;height: 30px;}
#p9-3 .cnt h4 span{background:#e6e6e6 url(../image/n1.bg12.png) no-repeat 100% 0;height:32px;margin-bottom:-2px;line-height:30px;font-size:15px;color:#333;padding:0 35px 0 15px;}
#p9-3 .cnt ul{padding-bottom: 30px;}
#p9-3 .cnt ul li{padding:30px 15px 0;font-size: 14px;margin-right: 50px;position: relative;}
#p9-3 .cnt ul li input{width: 15px;height: 15px; vertical-align: middle;}
#p9-3 .cnt ul li a{border:1px solid #ffd0b4; background-color: #fff1e8;color: #fb6b0a;line-height: 22px;padding: 0 15px;border-radius: .25em;}
#p9-3 .cnt ul li span{position: absolute;right: 0;top:30px;color: #666;}
#p9-3 .cnt ul li span u{text-decoration: line-through;}
#p9-3 .cnt ul li span b{font-size: 18px;color: #fd2321;}
#p9-3 .cnt ol{padding-bottom: 30px;}
#p9-3 .cnt ol li{padding:30px 15px 0;font-size: 14px;position: relative;margin-right: 50px;}
#p9-3 .cnt ol li em{padding-left: 30px;height: 17px;background:url(../image/n1.bg10.png) no-repeat;cursor: pointer;margin-right: 20px;margin-bottom:5px;}
#p9-3 .cnt ol li em.on{background-position: 0 -33px;}
#p9-3 .cnt ol li p{color: #999;font-size: 12px;line-height:20px;padding-left: 2em;}
#p9-3 .cnt ol li p.txt-ell{width: 300px;overflow:hidden;white-space: nowrap; text-overflow:ellipsis;vertical-align: top;}
#p9-3 .cnt ol li i{color: #fb6b0b;font-size: 12px;line-height: 20px;margin-left:2em;cursor: pointer;}
#p9-3 .cnt ol li span{position: absolute;right: 0;top:30px;color: #666;}
#p9-3 .cnt ol li span u{text-decoration: line-through;}
#p9-3 .cnt ol li span b{font-size: 16px;color: #fd2321;}
#p9-3 .cnt ol li a{border:1px solid #ffd0b4; background-color: #fff1e8;color: #fb6b0a;line-height: 22px;padding: 0 15px;border-radius: .25em;}
#p9-3 h5{font-size: 15px;text-align: right;background-color: #f2f2f2;line-height:50px;padding-right: 2em;}
#p9-3 h5 b{font-size: 20px;color: #ff2223;}
#p9-3 h6{padding: 90px 0 45px;text-align: center;}
#p9-3 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-3 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}

/* p9-3-2 */
#p9-3-2{margin-bottom: 20px;}
#p9-3-2 .cnt{background-color: #fff;padding: 30px;}
#p9-3-2 .cnt h4{border-bottom:2px solid #e6e6e6;height: 30px;}
#p9-3-2 .cnt h4 span{background:#e6e6e6 url(../image/n1.bg12.png) no-repeat 100% 0;height:32px;margin-bottom:-2px;line-height:30px;font-size:15px;color:#333;padding:0 35px 0 15px;}
#p9-3-2 .cnt dl{border-bottom:1px solid #e6e6e6;}
#p9-3-2 .cnt dl dt{text-align: right;line-height: 25px;color: #666;font-size: 16px;padding:30px 0;}
#p9-3-2 .cnt dl dt b{color: #fe2222;font-size: 20px;font-weight: 400;}
#p9-3-2 .cnt dl dd{padding:20px 15px 0;font-size: 14px;position: relative;}
#p9-3-2 .cnt dl dd input{width: 15px;height: 15px; vertical-align: middle;}
#p9-3-2 .cnt dl dd a{border:1px solid #ffd0b4; background-color: #fff1e8;color: #fb6b0a;line-height: 22px;padding: 0 15px;border-radius: .25em;}
#p9-3-2 .cnt dl dd span{position: absolute;right: 0;top:20px;color: #666;}
#p9-3-2 .cnt dl dd span u{text-decoration: line-through;}
#p9-3-2 .cnt dl dd span b{font-size: 18px;color: #fd2321;}
#p9-3-2 ul{padding-top:30px;}
#p9-3-2 ul li{border:3px solid #ff9474;height: 54px;position: relative;line-height: 45px;padding-left: 25px;}
#p9-3-2 ul li input{width: 15px;height: 15px;vertical-align: middle;}
#p9-3-2 ul li img{vertical-align: middle;margin-left: 20px;}
#p9-3-2 ul li span{position: absolute;right: 0;padding-right: 10px;font-size: 16px;color: #666;}
#p9-3-2 ul li span b{color: #fe2222;font-size: 20px;font-weight: 400;}
#p9-3-2 h6{padding: 90px 0 45px;text-align: center;}
#p9-3-2 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-3-2 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}

/* p9-3-1 */
#p9-3-1{margin:20px auto;background-color: #fff;}
#p9-3-1 h4{padding: 20px;padding-bottom: 0;}
#p9-3-1 h4 span{font-size: 16px;}
#p9-3-1 h4 a{float: right;font-size: 13px;color: #3265ce;text-decoration: underline;}
#p9-3-1 h6{text-align: center;height:38px;line-height:38px;font-size:18px;padding: 20px 0 40px;}
#p9-3-1 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;text-align:center;color:#fff;padding:0 50px;}
#p9-3-1 .excel{padding: 20px;}
#p9-3-1 table{border-bottom:1px solid #ddd;border-left:1px solid #ddd;width:100%;}
#p9-3-1 table td{padding:10px;border-top:1px solid #ddd;border-right:1px solid #ddd;font-size:13px;color:#666;line-height: 20px;}
#p9-3-1 table td.td0{width:18%;text-align:center;font-size:15px;}
#p9-3-1 table td.td1{width:40%;text-align:center;}
#p9-3-1 table td.td2{width:10%;text-align:center;}
#p9-3-1 table td.td3{width:10%;text-align:center;}
#p9-3-1 table td.td4{width:10%;text-align:center;}
#p9-3-1 table td.td5{text-align:center;}
#p9-3-1 table td.td5 a{background-color: #e97a53;text-align: center;padding:0 10px;color:#fff;line-height: 25px;border-radius:.25em;}
#p9-3-1 table thead td{background-color:#efefef;font-weight:700;text-align:center;}
#p9-3-1 table td.tde{border-top:1px solid #fff;}

/* p9-3-3 */
#p9-3-3{margin: 20px auto;}
#p9-3-3 .main{padding:30px;background-color: #fff;}
#p9-3-3 .info{position: relative;}
#p9-3-3 .info img{border:1px solid #ccc;}
#p9-3-3 .info dl{position: absolute;right: 0;top:0;width: 63%;}
#p9-3-3 .info dl dt{font-size: 24px;color: #ed5629;height: 85px;line-height: 85px;}
#p9-3-3 .info dl dd{padding-top:30px;height:48px;line-height:48px;}
#p9-3-3 .info a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-3-3 .excel{padding-top: 30px;}
#p9-3-3 table{border-bottom:1px solid #ddd;border-left:1px solid #ddd;width:100%;}
#p9-3-3 table td{padding:10px;border-top:1px solid #ddd;border-right:1px solid #ddd;font-size:13px;color:#666;line-height: 20px;}
#p9-3-3 table td.td0{width:18%;text-align:center;font-size:15px;}
#p9-3-3 table td.td1{width:40%;text-align:center;}
#p9-3-3 table td.td2{width:10%;text-align:center;}
#p9-3-3 table td.td3{width:10%;text-align:center;}
#p9-3-3 table td.td4{width:10%;text-align:center;}
#p9-3-3 table td.td5{text-align:center;}
#p9-3-3 table td.td5 a{background-color: #e97a53;text-align: center;padding:0 10px;color:#fff;line-height: 25px;border-radius:.25em;}
#p9-3-3 table thead td{background-color:#efefef;font-weight:700;text-align:center;}
#p9-3-3 table td.tde{border-top:1px solid #fff;}
#p9-3-3 .excel h5{text-align: right;}
#p9-3-3 .excel h5 a{border:1px solid #ddd;border-top:0;width:95px;height:30px;line-height:30px;background:#e6e6e6 url(../image/n1.bg03.png) no-repeat 95px 7px;padding-right:30px;text-align: center;color: #333;}
#p9-3-3 .excel h5 a.down{background-position: 95px -26px;}
#p9-3-3 .other{padding:20px 0;font-size: 14px;line-height: 25px;color: #666;}
#p9-3-3 .other span{font-size: 16px;color: #333;}
#p9-3-3 .other p{color: #666;line-height:20px;}

/* p9-4 */
#p9-4{margin-bottom: 20px;}
#p9-4 .tbe1{margin-bottom: 30px;}
#p9-4 .tbe1 tr th, #p9-4 .tbe1 tr td{padding: 10px;font-size: 14px;}
#p9-4 .tbe1 tr th{text-align: right;}
#p9-4 .tbe1 input.rdo{width: 15px;height: 15px;vertical-align: middle;}
#p9-4 .org-lst{padding:20px 0 60px;}
#p9-4 .org-lst li{font-size: 14px;padding: 20px 20px 0;color: #333;}
#p9-4 .org-lst li input{width: 15px;height: 15px;vertical-align: middle;}
#p9-4 .cnt{background-color: #fff;padding: 30px;}
#p9-4 .cnt h4{border-bottom:2px solid #e6e6e6;height: 30px;}
#p9-4 .cnt h4 span{background:#e6e6e6 url(../image/n1.bg12.png) no-repeat 100% 0;height:32px;margin-bottom:-2px;line-height:30px;font-size:15px;color:#333;padding:0 35px 0 15px;}
#p9-4 h6{padding: 90px 0 45px;text-align: center;}
#p9-4 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-4 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}
#p9-4 .tbe2 th{padding: 30px;}
#p9-4 .tbe2 th img{border:1px solid #ccc;}
#p9-4 .tbe2 td{font-size: 14px;line-height: 35px;color: #888;}
#p9-4 .tbe2 td b{color: #333;font-size: 15px;}
#p9-4 dl{padding-left: 30px;}
#p9-4 dl dt a{background-color:#fa4b0a;border:1px solid #e55b03;border-radius:.35em;color:#fff;font-size:15px;line-height:40px;padding:0 20px;text-align:center;}
#p9-4 dl dd{line-height: 25px;color: #333;font-size: 14px;padding-top: 15px;}
#p9-4 p.msg{font-size: 16px;padding-left: 30px;line-height:35px;color: #fe6b0b;}
#p9-4 p.msg span{color: #333;}
#p9-4 .rli{width:630px;border:1px solid #c7c7c7;border-bottom:none;margin:28px;position:relative;}
#p9-4 .rli h3{width:100%;height:44px;padding-top: 6px;}
#p9-4 .rli h3 a{width:38px;height:38px;background:url(../image/ig11.png) no-repeat 14px 10px;text-align: center;font-size: 14px;color:#666;line-height: 38px;padding-left:20px;}
#p9-4 .rli h3 a.rgt{background-position:34px -23px;padding-left: 0;padding-right: 20px;}
#p9-4 .rli h3 a.no{cursor:not-allowed;}
#p9-4 .rli h3 a.ok{cursor:pointer;}
#p9-4 .rli h3 span{width:514px;text-align:center;line-height:38px;font-size:16px;color:#fe6b0c;}
#p9-4 .rli li{float:left;}
#p9-4 .rli ol li{width:90px;line-height:50px;background-color:#c7c7c7;color:#fff;text-align:center;font-size:14px;}
#p9-4 .rli ol li.on{background-color:#fd6845;}
#p9-4 .rli ul li{width:90px;height:60px;padding-top: 10px;font-size:16px;line-height:20px;border-bottom:1px solid #c7c7c7;cursor:not-allowed;text-align: center;}
#p9-4 .rli ul li i{display:block;font-size:14px;padding-top:4px;width: 100%;}
#p9-4 .rli ul li.off{color:#999;}
#p9-4 .rli ul li.on{color:#69f;cursor:pointer;}
#p9-4 .rli ul li.no{color:#333;}
#p9-4 .rli ul li.no i{color:#999;}
#p9-4 .rli ul li.all{color:#fd6845;}
#p9-4 .rli ul li.at{background: url(../image/n1.bg14.png) no-repeat 50%;}
#p9-4 .rli dl{position:absolute;right:-210px;top:0;width:200px;}
#p9-4 .rli dl dt{font-size:18px;font-weight:700;padding-bottom:15px;}
#p9-4 .rli dl dd{font-size:15px;line-height:28px;}

/* p9-5 */
#p9-5{margin-bottom: 20px;}
#p9-5 .cnt{background-color: #fff;padding: 30px;}
#p9-5 .cnt h4{border-bottom:2px solid #e6e6e6;height: 30px;position: relative;margin:20px 0;}
#p9-5 .cnt h4 span{background:#e6e6e6 url(../image/n1.bg12.png) no-repeat 100% 0;height:32px;margin-bottom:-2px;line-height:30px;font-size:15px;color:#333;padding:0 35px 0 15px;}
#p9-5 .cnt a{position: absolute;right: 0;top:-8px;background-color: #f2f2f2;border:1px solid #c4c4c4;font-size: 14px;color:#333; border-radius:.25em;text-align:center;line-height:30px;padding: 0 25px;}
#p9-5 table tr th,#p9-5 table tr td{padding: 10px;font-size: 15px;line-height: 25px;vertical-align: top;}
#p9-5 table tr th{width: 120px;text-align: right;color: #666;}
#p9-5 table tr td{color: #333;}
#p9-5 table tr th i{color: #f00;font-family: Arial;}
#p9-5 table tr td span i{color: #999;}
#p9-5 h6{padding: 90px 0 45px;text-align: center;}
#p9-5 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}
#p9-5 h6 a.back{border-color:#ccc;background-color: #f2f2f2;color: #656565;margin-right: 45px;}
#p9-5 ul{padding-bottom: 30px;}
#p9-5 ul li{padding:30px 15px 0;font-size: 15px;position: relative;color: #333;}
#p9-5 ul li span{position: absolute;right: 0;top:30px;color: #666;}
#p9-5 ul li span i{font-size: 18px;color: #fd2321;}
#p9-5 ul li u{color: #999;}
#p9-5 dl{font-size: 15px;line-height:30px;padding-left: 15px;color: #333;}
#p9-5 dl span{color: #666;}

.pop-z1{background-color: #fff;margin-bottom: 20px;padding:30px;text-align: left;}
.pop-z1 .tt{font-size: 16px;border-bottom: 1px solid #e6e6e6;padding: 8px 0;}
.pop-z1 .nt{color: #666;font-size: 14px;padding:25px;text-align: center;}
.pop-z1 .tbe1{width: 600px;margin: 0 auto;}
.pop-z1 .tbe1 th, .pop-z1 .tbe1 td{padding: 10px 5px;font-size: 14px;}
.pop-z1 .tbe1 th{width: 120px;text-align: right;line-height: 36px;}
.pop-z1 .tbe1 .txt{border:1px solid #ccc;line-height: 18px;height: 18px;padding:8px;width:300px;border-radius: .25em;font-size: 14px;color: #666;}
.pop-z1 .tbe1 th i{color: #f00;font-family: Arial;}
.pop-z1 .tbe1 td.u-sex a{border:1px solid #ccc;border-radius: .25em;vertical-align: middle;background:url(../image/n1.bg09.png) no-repeat;color: #333;}
.pop-z1 .tbe1 td a.sex1{line-height:36px;height:36px;padding-left:34px;padding-right:8px;background-position:-37px -35px;}
.pop-z1 .tbe1 td a.sex2{line-height:36px;height:36px;padding-left:34px;padding-right:8px;background-position:-37px -101px;}
.pop-z1 .tbe1 td a.sex3{padding:3px 0;height: 30px;padding-left:34px;padding-right:8px;background-position:-37px -168px;}
.pop-z1 .tbe1 td a.sex4{padding:3px 0;height: 30px;padding-left:34px;padding-right:8px;background-position:-37px -235px;}
.pop-z1 .tbe1 td.u-sex a small{font-size: 12px;}
.pop-z1 .tbe1 td a.on{background-image:url(../image/n1.bg08.png);color: #fc6b10;border-color: #fc6b10;}
.pop-z1 .report a{color: #f91512;text-decoration: underline;font-size: 13px;}
.pop-z1 .report p{padding-top:8px;}
.pop-z1 .report p em{padding-left: 30px;height: 17px;background:url(../image/n1.bg10.png) no-repeat;cursor: pointer;margin-right: 20px;}
.pop-z1 .report p em.on{background-position: 0 -33px;}
.pop-z1 .rep-addr{background-color:#f2f2f2;border:1px solid #d9d9d9;width:600px;margin:0 auto;padding-bottom:20px;margin-top:10px;display:none;position:relative;}
.pop-z1 .rep-addr u{position: absolute;top:-14px;left: 41%;}
.pop-z1 .tbe2 th, .pop-z1 .tbe2 td{padding: 10px 5px;font-size: 14px;}
.pop-z1 .tbe2 th{width: 120px;text-align: right;line-height: 36px;}
.pop-z1 .tbe2 .txt{border:1px solid #ccc;line-height: 18px;height: 18px;padding:8px;width:300px;border-radius: .25em;font-size: 14px;color: #666;}
.pop-z1 .tbe2 th i{color: #f00;font-family: Arial;}
.pop-z1 .tbe2 .rdo{width: 15px;height: 15px;vertical-align: middle;}
.pop-z1 h6{text-align: center;padding: 30px 0 20px;}
.pop-z1 h6 a{border:1px solid #e73d0c;border-radius:.25em;background-color:#fe6b0c;line-height:48px;text-align:center;color:#fff;font-size:18px;padding:0 50px;}

.pop-z2{background-color: #fff;width:900px;}
.pop-z2 p{font-size: 14px;line-height:30px;padding: 0 30px 20px 30px;text-align: left;color: #333;}
.pop-z2 p.lst{color: #666;}
.pop-z2 p span{padding: 0 30px;border-bottom: 1px solid #333;line-height: 25px;}
.pop-z2 h4{padding: 50px 0 30px;font-size: 20px;}

/* p9-6 */
#p9-6{margin: 30px auto;}
#p9-6 .welc{font-size: 16px;line-height:25px;color: #333;margin-bottom: 30px;}
#p9-6 .welc dd{text-indent: 2em;}
#p9-6 .cnt1{background-color: #fff;margin-bottom: 15px;padding: 20px;}
#p9-6 .cnt1 h4{line-height: 40px;border-bottom: 1px solid #d9d9d9;margin-bottom:30px;position: relative;}
#p9-6 .cnt1 h4 b{color: #fe6b0b;font-size:18px;font-weight: 400;}
#p9-6 .cnt1 h4 span{position: absolute;right: 0;top: 0;}
#p9-6 .cnt1 h4 span a{border-radius:.25em;padding:0 18px;line-height:30px;background-color:#f0f4f7;border:1px solid #c4c4c4;color:#333;margin-left:15px;}
#p9-6 .cnt1 h4 span a.buy{border-color: #fe6b0c; background-color: #fe6b0c;color:#fff;}
#p9-6 .cnt1 th,#p9-6 .cnt1 td{padding:5px 10px;font-size: 14px;vertical-align: top;line-height: 25px;}
#p9-6 .cnt1 th{text-align: right;width: 115px;color: #888;}
#p9-6 .cnt1 td{color: #252525;}
#p9-6 .cnt1 td span{color: #888;padding: 0 20px;}
#p9-6 .cnt1 td i{color: #fc2c2c;}
#p9-6 .cnt1 p{font-size: 14px;line-height: 30px;color: #999;padding:40px 30px 0;}
#p9-6 .cnt1 dl{padding:40px 30px 0;line-height:30px;font-size: 14px;}
#p9-6 .cnt1 dl dt{color: #333;}
#p9-6 .cnt1 dl dd{color: #666;}
#p9-6 .cnt3{background-color: #fff;padding: 20px;}
#p9-6 .cnt3 h4{line-height: 40px;border-bottom: 1px solid #d9d9d9;margin-bottom:30px;}
#p9-6 .cnt3 h4 b{color: #fe6b0b;font-size:18px;font-weight: 400;}
#p9-6 .cnt3 table{border-bottom:1px solid #ddd;border-left:1px solid #ddd;width:100%;}
#p9-6 .cnt3 table td{padding:10px;border-top:1px solid #ddd;border-right:1px solid #ddd;font-size:13px;color:#666;line-height: 20px;}
#p9-6 .cnt3 table td.td0{width:18%;text-align:center;font-size:15px;}
#p9-6 .cnt3 table td.td1{width:40%;text-align:center;}
#p9-6 .cnt3 table td.td2{width:10%;text-align:center;}
#p9-6 .cnt3 table td.td3{width:10%;text-align:center;}
#p9-6 .cnt3 table td.td4{width:10%;text-align:center;}
#p9-6 .cnt3 table td.td5{text-align:center;}
#p9-6 .cnt3 table td.td5 a{background-color: #e97a53;text-align: center;padding:0 10px;color:#fff;line-height: 25px;border-radius:.25em;}
#p9-6 .cnt3 table thead td{background-color:#efefef;font-weight:700;text-align:center;}
#p9-6 .cnt3 table td.tde{border-top:1px solid #fff;}

/* p9-8 */
#p9-8{background-color: #fff;padding-bottom: 30px;}
#p9-8 dl{padding: 35px 25px 20px;}
#p9-8 dl dt{width: 50%;float: left;font-size: 16px;}
#p9-8 dl dt span{padding-right: 20px;}
#p9-8 dl dt i{cursor: pointer;border-radius: .35em;background-color: #fff;color: #333;border:1px solid #e6e6e6;padding: 0 22px;line-height: 30px;}
#p9-8 dl dt i.on{background-color: #fe6b0c;color: #fff;border-color: #fe6b0c}
#p9-8 dl dd{width: 45%;float: right;text-align: right;font-size: 14px;}
#p9-8 dl dd a{color: #272727;text-decoration: underline;}
#p9-8 dl dd a.back{color: #3367cd;}
#p9-8 div{text-align: center;margin:25px;border:1px solid #ccc;padding: 30px;}







