@charset "utf-8";

/* < reset > */
html{height:100%;border:0;} body{min-height:100%;-height:100%;position:relative;}
body,h1,h2,h3,h4,h5,h6,p,div,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td,pre,fieldset,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6,select,input,textarea,button,table{font-size:100%;font-weight:normal;} 
a,u,a:hover{text-decoration:none;outline:0;} i,em{font-style:normal;} ul,ol,dl{list-style:none;} 
table{border-collapse:collapse;border-spacing:0;} th{text-align:left;font-weight:normal;}
body,textarea,input,button,select{font:12px/1.14 \5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;color:#000;outline:0;}

/* < function > */
.f-cb:before,.f-cb:after{content:" ";display:table;}.f-cb:after{clear:both;}.f-cb{*zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}/* IE6-7*/
.f-por{position:relative;} .f-poa{position:absolute;display:block;}
.f-tac{text-align:center;} .f-tar{text-align:right;} .f-tal{text-align:left;}
.f-fl{float:left;display:block;} .f-fr{float:right;display:block;}
.f-dn{display:none;} .f-db{display:block;} .f-oh{overflow:hidden;}
.f-fwb{font-weight:700;} .f-fwn{font-weight:400;}
.f-wsn{white-space:nowrap;word-wrap:normal;}/* no-wrap */
.f-toe{white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;} /* no-wrap */
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;} /* wrap */

/* popup */
#m-mask{position:fixed;left:0;top:0;width:100%;height:100%;background-color:#000;z-index:1000;}
.m-pop-up{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1001;display:none;}
.m-pop-up .z-tac{text-align: center;width: 100%;}
.m-pop-up .z-vam{vertical-align:middle;}
.m-pop-up .z-ib{display:inline-block;*display:inline;*zoom:1;}/*IE7*/

.z-pop-up{position:fixed;left:0;top:0;width:100%;height:100%;}
.z-pop-up .z-ib{display:inline-block;*display:inline;*zoom:1;background-color:#fff;border:5px solid #aaa;position:static;}/*IE7*/
.z-pop-up .u-tit{height:36px;color:#fff;background-color:#ea6b4a;}
.z-pop-up .u-tit span{display:inline-block;*display:inline;*zoom:1;width:92%;text-align:left;line-height:36px;font-size:15px;vertical-align: top;}
.z-pop-up .u-tit a{display:inline-block;*display:inline;*zoom:1;font:700 24px/36px Arial;color: #fff;width:4%;text-align: right;}
.z-pop-up .u-tit a:hover{color: #333;}
.z-pop-up .u-btn{padding: 13px;border-top: 1px solid #EA6B4A;height: 30px;}
.z-pop-up .u-btn a{display:inline-block;*display:inline;*zoom:1;border:1px solid #fff;padding:0 15px;font-size: 13px;line-height: 24px;margin: 0 10px;border-radius: .25em;}
.z-pop-up .u-btn a.u-sub{border-color: #e97657;background-color: #e97657;color: #fff;}
.z-pop-up .u-btn a.u-sub:hover{border-color:#f15728;background-color:#f15728;}
.z-pop-up .u-btn a.u-rst{border-color: #bdbdbd;background-color: #ededed;color: #666;}

.u-kgt dl{border:1px solid #b3b3b3;width:350px;height: 190px;background-color: #fff;border-radius: 6px;}
.u-kgt dl dt{text-align: right;padding: 14px;height: 40px;}
.u-kgt dl dt a{font-size: 20px;color: #666;}
.u-kgt dl dd{font-size: 24px;color: #333;line-height: 60px;background:url('../image/ok1.jpg') no-repeat 60px 0;padding-left:80px;}

.u-dtl dl{border:1px solid #b3b3b3;width:450px;background-color: #fff;}
.u-dtl dl dt{height:40px; background-color: #ea6b4a;position: relative;text-align: left;padding-left: 15px;}
.u-dtl dl dt span{line-height: 40px;color: #fff;font-size: 16px;}
.u-dtl dl dt a{position:absolute;right:9px; top:9px;}
.u-dtl dl dd{margin: 0 50px;}
.u-dtl dl dd.d1{color: #333;font-size: 18px;height: 48px;padding-top: 25px;}
.u-dtl dl dd.d2{color: #333;text-align: left;line-height: 22px;font-size: 14px;}
.u-dtl dl dd.d3{text-align: right;font-size: 14px;line-height:60px;}
.u-dtl dl dd.d4{height: 60px; background-color: #d6d7d4; font-size: 16px;line-height: 60px;}
.u-dtl dl dd.d5{padding: 30px 0;}

.u-note{width: 800px;padding:0 50px 50px 50px;background-color: #fff;position:relative;}
.u-note .cls{position: absolute;right: 10px;top:10px;}
.u-note dl{padding: 20px 20px 0 20px;}
.u-note dl dt{font-size: 16px;line-height: 40px;}
.u-note dl dd{ font-size: 13px;color: #999;}
.u-note div img{width: 99.5%;}
.u-note p{line-height: 30px;font-size: 14px;text-align: left;padding: 15px 5px;}
.u-note h5{padding:20px;color: #666;}
.u-note h5 i{font-size: 14px;height: 20px;line-height: 20px; background: url(../image/gy.ic14.png) no-repeat 0 0;padding: 0 10px 0 30px;cursor: pointer;}
.u-note h5 i.on{font-size: 14px;height: 20px;line-height: 20px;background-position:0 -20px;padding: 0 10px 0 30px;}

.u-flt{padding-bottom: 14px; width: 100%;}
.u-flt span{margin-right: 1%;width: 12%;}
.u-flt span.f-por{width: 10.2%;}
.u-flt span.z-lst{margin-right:0;text-align: right;}
.u-flt label{font-size: 14px;color: #666;line-height: 27px;padding-right: 15px;}
.u-flt .u-txt{height:17px;line-height:17px;padding: 4px;border:1px solid #e1e2e3; font-size:13px;color: #666;}
.u-flt .z-tw1{width: 92.8%;}
.u-flt .u-slt{width:61%;padding:4px 28% 4px 10%;background:#fff url('../image/opt.gif') no-repeat 92% 50%;cursor: pointer;}
.u-flt .u-date{width:75%;padding-left:22%;background:#fff url('../image/date.gif') no-repeat 7% 50%;cursor: pointer;}
.u-flt em{top:26px;left:0;border:1px solid #e1e2e3;background-color:#fff;width:99%;max-height:75px;overflow:hidden;overflow-y:auto;display:none;}
.u-flt em a{width:90%;padding-left:12px;background-color:#fff;font-size:13px;line-height:25px;color:#666;}
.u-flt em a:hover{background-color:#1e90ff;color:#fff;}
.u-flt .u-sch{height:27px;line-height:27px;background-color:#f15728;color:#fff; width:80px;text-align:center;vertical-align: middle;font-size:14px;cursor: pointer;}
.u-flt p{line-height: 25px;}
.u-flt p a{font-size: 14px;color: #666;background-color: #fff;border:1px solid #c9c9c9;text-align: center;;padding:0 20px;margin-right: 10px;}
.u-flt p a.on{background-color: #ed6942;border-color: #ed6942;color: #fff;}

.u-act{height:35px;line-height:35px;}
.u-act input{vertical-align:middle;width:14px;height:14px;}
.u-act h4{padding-left:19px;}
.u-act h4 a{background-color:#fff;width:68px;height:18px;line-height:18px;text-align:center;color:#666;border-radius:.25em;border:1px solid #d0d1d1;}
.u-act h4 span{padding:0 5px;}
.u-act h4 span b{color:#ed6942;font-size:18px;}
.u-act h5{text-align:center;line-height:20px;padding-top:7px;}
.u-act h5 a{padding:0 7px;height:20px;color:#666;border-radius:.2em;border:1px solid #d0d1d1;vertical-align:middle;background-color:#fff;}
.u-act h5 a:hover{background-color:#ddd;}
.u-act h5 a.u-lft{background:#fff url('../image/pglt.gif') no-repeat 7px 50%;width:52px;padding-left:12px;padding-right:5px;}
.u-act h5 a.u-rgt{background:#fff url('../image/pgrt.gif') no-repeat 54px 50%;padding-right:20px;padding-left:5px;width:44px;}
.u-act h5 a.z-on{color:#ed6942;font-weight:600;}
.u-act h5 span{vertical-align:middle;padding:0 8px;}

.u-tte{background-color:#fff;border:1px solid #e1e2e3;height:30px;line-height:30px;font-size:13px;color:#666;margin-bottom:14px;}
.u-tte .u-w1{width:37%;text-align:center;}
.u-tte .u-w2{width:7%;}
.u-tte .u-w2a{width:8%;text-align: center;}
.u-tte .u-w3{width:11.5%;padding-left:5%;text-align: center;}
.u-tte .u-w4{width:8%;text-align: center;}
.u-tte .u-w5{width:11%;text-align: center;}
.u-tte .u-w6{width:10%;text-align:center;}

.u-list{background-color:#fff;border:1px solid #e1e2e3;font-size:13px;margin-bottom:8px;}
.u-list p{height:28px;line-height:28px;border-bottom:1px solid #e1e2e3;padding-left:18px;color:#666;position:relative;}
.u-list p span{padding-right:36px;}
.u-list p input{vertical-align:middle;width:14px;height:14px;margin-right:4px;}
.u-list table{display:block;padding:5px 0;}
.u-list table tr td i{color:#ed6942;}
.u-list table a{color:#666;}
.u-list table a.u-s1{color:#ed6942;padding-right:20px;}
.u-list table a:hover{color:#08b2f9;}
.u-list table a.u-s2{color:#08b2f9;}
.u-list table a.u-s3{color:#ed6942;}
.u-list .u-w4{width:10%;text-align:center;font-size:12px;}
.u-list .u-w4 b{color:#f15728;font-size:16px;line-height:22px;}
.u-list .u-w5{width:8%;padding-left:2%;}
.u-list .u-w5 a{color: #69f;}
.u-list .u-w6{width:5%;text-align:center;}
.u-list .u-w7{width:8%;text-align:center;line-height:20px;padding-left:2.5%;}
.u-list table img{border:1px solid #d7d7d7;}
.u-list .u-w0{width:42%;padding-left:1.5%;}
.u-list .u-w0 table{padding:0;border-right:1px dashed #d0d1d1;width:100%;}
.u-list .u-w0 table tr td{padding:10px 0;border-bottom:1px dashed #d0d1d1;}
.u-list .u-w0 table tr.z-lst td{padding:10px 0;border-bottom:0;}
.u-list .u-w0 table tr td.u-ww1{width:2%;}
.u-list .u-w0 table tr td.u-ww2{width:22%;padding-right:3%;}
.u-list .u-w0 table tr td.u-ww1-2{width:25.5%;padding-right:3%;}
.u-list .u-w0 table tr td.u-ww3{width:4.5%;}
.u-list .u-w0 table tr td.u-ww3a{width:7%;}

/* new list css */
.dlst{background-color:#fff;border:1px solid #e1e2e3;font-size:13px;margin-bottom:8px;}
.dlst p{height:28px;line-height:28px;border-bottom:1px solid #e1e2e3;padding-left:18px;color:#666;position:relative;}
.dlst p span{padding-right:36px;}
.dlst p input{vertical-align:middle;width:14px;height:14px;margin-right:4px;}
.flst,.slst{width: 100%;}
.slst{border-right:1px dashed #d0d1d1;}
.flst td{padding: 10px;text-align: center;}
.slst tr.lne td{border-top:1px dashed #d0d1d1;}
.flst .wt0{width: 64%;}
.flst .wt1{width: 80px;}
.flst .wt2{width: 40%;text-align: left;}
.flst .wt3{width: 17%;*width: 16%;}
.flst .wt4{width: 12%;}
.flst .wt5{width: 15%;}
.flst .wt6{width: 10%;}
.flst a{color:#666;line-height: 22px;}
.flst a:hover{color:#08b2f9;}
.flst a.u-s2{color:#08b2f9;}
.flst a.u-s3{color:#ed6942;}
.flst b{color:#f15728;font-size:16px;line-height:22px;}

/* step */
.u-set{width:800px;background-color: #fff;}
.u-set h6{font-size:22px;text-align:center;color:#f07c57;padding:35px 0 20px;}
.u-set p{text-align:center;padding-bottom:10px;}
.u-set p img{width:78%;}
.u-set h5{width:98%;margin:0 auto;padding-bottom:40px;}
.u-set h5 span{display:block;width:25%;float:left;text-align:center;font-size:14px;color:#999;}
.u-set h5 span.z-on{color:#e5684a;}
.u-set ul{text-align: left;}
.u-set ul li{float: left;}
.u-set ul li.p-tit{color:#646464;font-size:14px;line-height:20px;font-weight:700;width:255px;text-align:right;padding-right:15px;line-height: 36px;margin-top: 21px;}
.u-set ul li.p-inp{width: 480px;margin-top: 21px;}
.u-set ul li.p-tab{width:480px;padding-left: 270px;}
.u-set ul li.p-tab a{text-decoration: underline; color: #fc9b56;font-size:14px;line-height:21px;}
.u-set ul li.p-inp a.send{margin-left:10px;line-height:36px;padding:0 15px;color:#fff;background-color:#fc9b56;vertical-align: middle;font-size:14px;}
.u-set ul li.p-inp a.on{color: #6a6a6a;border-color: #dcdcdc;background-color: #f1f1f1;}
.u-set ul li.p-inp input{height:16px;line-height:16px;padding:9px 5px;border:1px solid #d8d8d8;vertical-align: middle;width: 235px;}
.u-set ul li i{line-height:19px;font-size:13px;}
.u-set ul li .p-ok{background:url('../image/zico-ok.gif') no-repeat 2px 50%;height:19px;padding-left:30px;}
.u-set ul li .p-err{background:url('../image/zico-error.gif') no-repeat 2px 50%;height:19px;padding-left:30px;color:#ef576c;}
.u-set ul li.p-btn{padding-top:20px;padding-bottom:50px;padding-left: 270px;}
.u-set ul li.p-btn button,.u-set ul li.p-btn a{font-size:14px;line-height:40px;text-align:center;color:#fff;background-color:#ff8060;padding:0 30px;cursor:pointer;}
.u-set ul li.pl1{padding-left:320px;}
.u-set dl{padding-left:35%;padding-bottom:25px;text-align: left;}
.u-set dl dt{padding-left:55px;line-height:42px;background:url('../image/ig10.png') no-repeat;font-size:16px;color:#ff8e70;}
.u-set dl dd{font-size:14px;color:#666;line-height:25px;}ss